<h1>Travel</h1>
<a href="/about">About</a>
<a href="/show">View All Destinations</a>

<!-- searchbar -->

<!-- form to add new -->

<div class="well">
<h2>TravelWell.</h2>
<p>In order to be well-traveled, one must to travel well.</p>
<h4>How it works</h4>
<p>Select your destination</p>
<p>Give us the amount of time you have to explore a city</p>
<p>TravelWell will give you the most optimized timeline to hit the best, well-kept secrets of the city. Eat, drink, shop and explore like a local!</p>
</div>


