<h1>Travel</h1>
<a href="/about">About</a>
<a href="/show">View All Destinations</a>

<!-- searchbar -->

<!-- form to add new -->

<div class="well">
<h2>TravelWell.</h2>
<p>In order to be well-traveled, one must to travel well.</p>
<h4>How it works</h4>
<p>Select your destination</p>
<p>Give us the amount of time you have to explore a city</p>
<p>TravelWell will give you the most optimized timeline to hit the best, well-kept secrets of the city. Eat, drink, shop and explore like a local!</p>
</div>



<!-- <div layout="row" ng-app="myApp" ng-cloak>
<section ng-controller="GridCtrl" layout-fill layout="column">
    <div ng-repeat="row in grid" flex layout="row">
      <div  flex layout="row" layout-align="center center" layout-margin class="box">
        <md-card flex  layout='row'>
        <img src="https://images.unsplash.com/photo-1445714342689-555dc8876e1b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=67f341f77e23fba011fb9bede5893601" class="md-card-image">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card> 

        <md-card flex  layout='row'>
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>

        <md-card flex  layout='row'>
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
      </div>
    </div>
</section>
</div> -->

  